=form_for locals[:question],remote: true,html: { id: "edit-question-#{locals[:question].id}"}  do |f|
 .question_errors
 =f.label :title
 =f.text_field :title
 %br
 =f.label :content
 =f.text_area :content
 %br
 =f.submit "Save"

