.wrapper{id: "wrapper-#{question.id}"}
 .question{ id: "question-#{question.id}", class: "panel panel-primary"}
  .panel-heading
   %b
    =link_to question.title,question
   %p
    =distance_of_time_in_words(Time.now, question.created_at)+" ago"  
  .panel-body 
   %p.content=question.content
   %p Attachments
   %p
    -unless question.attachments.empty?
     -question.attachments.each do |a|
      -unless a.file.blank?
       .attachment{id: "attachment-#{a.id}"}
        =link_to a.file.file.filename, a.file.url 
        -if  can? :destroy, a
         =link_to "Destroy attachment", attachment_path(a), class: 'btn btn-danger btn-xs',role:'button',method: :delete, remote: true 
   =render "votes/vote", votable: question

   -if  can? :update, question
    %p
     =link_to "Edit stupid question",'', class: 'edit-question-link btn btn-info',role:'button', data: { question_id: question.id }
     =render 'questions/form',question: question, remote:true
   -if  can? :destroy, question
    %p 
     =link_to "Delete stupid question", question_path(question), class: 'btn btn-danger',role:'button', method: :delete
   -if user_signed_in? && action_name != 'index'    
    %p
     %i=link_to "Leave a comment", "", class: 'create_comment btn btn-success', role:'button', data: { commentable_id: question.id, commentable_type: question.class.name } 
  .panel-footer   
   .comments   
    -unless question.comments.empty? 
     -if action_name != 'index'    
      =render question.comments
   =render "comments/form", commentable: question 

  -unless action_name == 'index'      
   .answers
    =render question.answers
  



