.answer{id: answer.id, data: { is_best: answer.best.inspect} }
 .answer_content
  =answer.content
 -if user_signed_in? && current_user.id == answer.question.user_id && answer.persisted?
  %p
   %i=link_to "Best ever",set_best_answer_question_answer_path(answer.question, answer, answer: {best: true}), class: 'best-answer-link', data: { best_id: answer.id }, method: :patch, remote: true

 -if  user_signed_in? && current_user.id == answer.question.user_id && answer.persisted?
  %p
   %i=link_to "Edit",'', class: 'edit-answer-link', data: { answer_id: answer.id }
  %p
   =form_for [answer.question,answer], remote: true, html: { id: "edit-answer-#{answer.id}"} do |f|
    =f.label :content,"Edit your answer"
    %br
    =f.text_area :content
    %br
    =f.submit "Save"
   %p
    %i=link_to "Delete stupid answer", question_answer_path(answer.question, answer), method: :delete, remote: true