-if answer.persisted?
 .answer{id: "answer-#{answer.id}", data: { is_best: answer.best.inspect}, class: "#{answer.best? ? 'best_answer' : ''}" }
  .answer_content
   =answer.content
  .attachments
   -if !answer.attachments.empty? && answer.persisted?
    -answer.attachments.each do |a|   
     -if !a.file.blank?
      .attachment{id: "attachment-#{a.id}"}
       =link_to a.file.file.filename, a.file.url
       -if user_signed_in? && current_user.id == answer.question.user_id && answer.persisted?
        =link_to "Destroy attachment", attachment_path(a), class: 'btn btn-danger btn-xs',role:'button',method: :delete, remote: true
  =render "votes/vote", votable: answer
  -if user_signed_in?
   %p
    %i=link_to "Leave a comment", "", class: 'create_comment btn btn-success', role:'button', data: { commentable_id: answer.id, commentable_type: answer.class.name } 
  -if user_signed_in? && current_user.id == answer.question.user_id && answer.persisted?
   %p
    %i=link_to "Best ever",set_best_answer_answer_path(answer, answer: {best: true}), class: 'best-answer-link', data: { best_id: answer.id }, method: :patch, remote: true

  -if  user_signed_in? && current_user.id == answer.user_id && answer.persisted?
   %p
    %i=link_to "Edit",'', class: 'edit-answer-link btn btn-info',role:'button', data: { answer_id: answer.id }
   %p
    =render "answers/form",  answer: answer
    %p
     %i=link_to "Delete stupid answer", answer_path(answer), class: 'btn btn-danger', role:'button', method: :delete, remote: true 
  
  .comments      
   -unless answer.comments.empty?         
    =render answer.comments
   =render "comments/form", commentable: answer 


