// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit_answer{
	display:none;
}

[data-is-best="true"]{
	border: 4px solid orange; 	
}

.best_answer{
	border: 4px solid orange;	
	backgound-color:red;
}

[data-is-best="false"] {
	border:none;
}