// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.formtastic.question{
	display:none;
}

.question {
	
	margin-bottom:5px;
  overflow:auto;
}

.panel-primary.question .panel-heading a{
	color:white;
}

.create_question{
	color:white;
}